/**
 * File style.css.
 * Contains styles for tool_registration rules plugin.
 */

#page-admin-tool-registrationrules-manageruleinstances .forcedinstances-modal pre {
    background-color: #eee;
    border-radius: 0.5em;
    margin-top: 2.5em;
    overflow-wrap: break-word;
    padding: 2em;
    white-space: pre-wrap;
}
