{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_registrationrules/managerules

    Registration rules management interface

    This template renders registration rules and their respective management-functionality.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    *

    Example context (json):
    {

    }
}}
<div class="tool_registrationrules-managerules">
    {{#forcedinstances}}
        <div class="alert alert-warning alert-block fade in" role="alert" data-aria-autofocus="true">
            {{#str}} ruleinstancestable:forcednotification, tool_registrationrules {{/str}}
        </div>
    {{/forcedinstances}}
    <table class="table generaltable">
        <thead>
        <tr>
            <th>{{#str}} ruleinstancestable:type, tool_registrationrules {{/str}}</th>
            {{^forcedinstances}}
                <th>{{#str}} ruleinstancestable:enabled, tool_registrationrules {{/str}}</th>
            {{/forcedinstances}}
            <th>{{#str}} ruleinstancestable:name, tool_registrationrules {{/str}}</th>
            <th>{{#str}} ruleinstancestable:description, tool_registrationrules {{/str}}</th>
            <th>{{#str}} ruleinstancestable:points, tool_registrationrules {{/str}}</th>
            <th>{{#str}} ruleinstancestable:fallbackpoints, tool_registrationrules {{/str}}</th>
            {{^forcedinstances}}
                <th>{{#str}} ruleinstancestable:move, tool_registrationrules {{/str}}</th>
                <th>{{#str}} ruleinstancestable:actions, tool_registrationrules {{/str}}</th>
            {{/forcedinstances}}
        </tr>
        </thead>
        <tbody>{{#instances}}
            <tr{{#dimmedrow}} class="dimmed_text"{{/dimmedrow}}>
                <td>{{type}}{{#dimmedrow}} ({{dimmedmessage}}){{/dimmedrow}}</td>
                {{^forcedinstances}}
                    <td>{{{enabled}}}</td>
                {{/forcedinstances}}
                <td>{{name}}</td>
                <td>{{description}}</td>
                <td>{{points}}</td>
                <td>{{fallbackpoints}}</td>
                {{^forcedinstances}}
                    <td class="text-nowrap">
                        {{#moveuplink}}
                            <a href="{{{moveuplink}}}">
                                {{#pix}}t/up, moodle, {{#str}} up, moodle {{/str}}{{/pix}}
                            </a>
                        {{/moveuplink}}
                        {{^moveuplink}}
                            {{#pix}}spacer, moodle{{/pix}}
                        {{/moveuplink}}

                        {{#movedownlink}}
                            <a href="{{{movedownlink}}}">
                                {{#pix}}t/down, moodle, {{#str}} down, moodle {{/str}}{{/pix}}
                            </a>
                        {{/movedownlink}}
                        {{^movedownlink}}
                            {{#pix}}spacer, moodle{{/pix}}
                        {{/movedownlink}}
                    </td>
                    <td>{{#actions}}{{>core/action_menu}}{{/actions}}</td>
                {{/forcedinstances}}
            </tr>
        {{/instances}}</tbody>
    </table>
    {{^forcedinstances}}
        <div class="row justify-content-between">
            <div class="col-4">
                <div class="dropdown show">
                    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="addRule" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{#str}} ruleinstancestable:addrule, tool_registrationrules {{/str}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="addRule">
                        {{#types}}
                            <a class="dropdown-item" href="{{addurl}}">{{name}}</a>
                        {{/types}}
                    </div>
                </div>
            </div>
            <div class="col-4 text-end">
                <button id="getinstancejson" type="button" class="btn btn-secondary" data-forcedinstancesjson="{{forcedinstancesjson}}"><i class="fa fa-code"></i>
                {{#str}} ruleinstancestable:instancesjson:getinstancesjson, tool_registrationrules {{/str}}</button>
            </div>
        </div>
    {{/forcedinstances}}
</div>
{{#js}}
{{! here comes the JS }}
{{/js}}